:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e8e8e8;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #df6d26;
  text-decoration: inherit;
  transition: color 0.15s ease;
}

a:hover {
  color: #f0833a;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3b4734;
    background-color: #f1f1e4;
  }

  a:hover {
    color: #5d6941;
  }

  button {
    background-color: #f8fcf6;
  }
}
